<div>
  <div>some application</div>
  <div>some bound state {{tasks.message}}</div>
  <div style="padding:3px">
    <button @click="tasks.loadTasks()">Load Tasks</button>
    <button @click="tasks.init()">Reset</button>
  </div>
  <div style="display:table; width: 800px;">
    <div style="display:table-row">
      <div style="display:table-cell; width:30%;">
        <div style=" display:table; ">
          <div @click="tasks.selectTask(task.id)" v-for="task in tasks.tasks " style="display:table-row; ">
            <div style="display:table-cell; ">{{task.id}}-{{task.taskName}}</div>
          </div>
        </div>
        <div>
          <div>
            <input v-model="tasks.searchText" type="text" placeholder="search" />
          </div>
          <div style="display:table;">
            <div @click="tasks.selectTask(task.id)" v-for="task in tasks.filteredTasks " style="display:table-row; ">
              <div style="display:table-cell; ">{{task.id}}-{{task.taskName}}</div>
            </div>
          </div>

        </div>
      </div>
      <div style="display:table-cell">
        <div style="border:1px solid grey; padding:5px;">
          <p>Task Details:</p>
          <hr/>
          <p>Load tasks and then click on an task in the list</p>
          <p v-if="tasks.currentTask!=null">{{tasks.currentTask.id}}-{{tasks.currentTask.taskName}}</p>
          <hr/>
          <div>
            <task-details v-if="tasks.currentTask!=null" :task="tasks.currentTask"></task-details>
            <task-statefull-details @task:save="task => tasks.save(task)" v-if="tasks.currentTask!=null" :task="tasks.currentTask"></task-statefull-details>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>