<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="Reverse Proxy to app1" stopProcessing="true">
                    <match url="^app1(.*)" />
                    <action type="Rewrite" url="http://localhost:5000/{R:1}" />
                </rule>
                <rule name="Reverse Proxy to app2" stopProcessing="true">
                    <match url="^app2(.*)" />
                    <action type="Rewrite" url="http://localhost:5003/{R:1}" />
                </rule>
            </rules>
        </rewrite>
    </system.webServer>
</configuration>
